@blue: #172d42;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background-color: @blue;
    color: white;
    .margenes(50px, 0px);
}
footer{
    color:white;
    padding: 10px 10px 0 10px;
    background-color: @blue;
    .margenes(10px, 0px);
}
.card-hotel{
    display: flex;
    flex: 1 200px;
    .margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
td, tr{
    text-align: center;
}
#banner{
    width: 35vh;
}
.tab-content{
    padding-top: 10px;
}