$blue: #172d42;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $blue;
    color: white;
    margin-top: 50px;
    @include margenes(50px, 0px);
}
footer{
    color:white;
    padding: 10px 10px 0 10px;
    background-color: $blue;
    @include margenes(10px, 0px);
}
.card-hotel{
    display: flex;
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
td, tr{
    text-align: center;
}
#banner{
    width: 35vh;
}
.tab-content{
    padding-top: 10px;
}