.jumbotron {
  background-color: #172d42;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  color: white;
  padding: 10px 10px 0 10px;
  background-color: #172d42;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  display: flex;
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
td,
tr {
  text-align: center;
}
#banner {
  width: 35vh;
}
.tab-content {
  padding-top: 10px;
}
